<% provide(:title, @user.name) %>
<h1>
<%= gravatar_for @user %>
<%= @user.name %>, <%= @user.club %></h1>
<div>
<%= render 'shared/status' %>
</div>
<div>
<% render 'follow_form' if signed_in? %>
<% if @user.microposts.any? %>
<h3>Microposts (<%= @user.microposts.count %>)</h3>
<ol>
<%= render @microposts %>
</ol>
<%= will_paginate @microposts %>
<% end %>
</div>
